#search {
    display: block;
    border: 3px black solid;
    border-radius: 50px;
    width: 500px;
    max-width: 100%;
    margin: 20px auto;
    padding: 10px 20px;
    font-size: 20px;
    font-weight: bold;
    outline: none;
}

.modal-dialog{
    overflow-x:hidden;
}

input:focus{
    outline: none;
}

#fullTable{padding:0 30px;}

.card {
    background: red;
    border: 0;
    height: 240px;
}

#params{
    margin-bottom:-30px;
}

.category {
    cursor: pointer;
}

.category:hover {
    opacity:0.8;
}

.category_icon{
    height:160px;
}

.category_generate .card {
    background: black;
}

.category_generate .card .category_icon {
    background: url('img/generate.png') no-repeat center center;
    font-size: 220px;
}


.category_validate .card {
    background: #538d22;
}

.category_validate .card .category_icon {
    background: url('img/validate.png') no-repeat center center;
    font-size: 220px;
}


.category_multimedia .card {
    background: #560bad;
}

.category_multimedia .card .category_icon {
    background: url('img/multimedia.png') no-repeat center center;
    font-size: 220px;
}


.category_user .card {
    background: #f75c03;
}

.category_user .card .category_icon {
    background: url('img/user.png') no-repeat center center;
    font-size: 220px;
}


.category_location .card {
    background: #da2c38;
}

.category_location .card .category_icon {
    background: url('img/location.png') no-repeat center center;
    font-size: 220px;
}


.category_currency .card {
    background: #f2af29;
}

.category_currency .card .category_icon {
    background: url('img/currency.png') no-repeat center center;
    font-size: 220px;
}


.category_apps .card {
    background: #0ead69;
}

.category_apps .card .category_icon {
    background: url('img/apps.png') no-repeat center center;
    font-size: 220px;
}


.category_seo .card {
    background: #00b4d8;
}

.category_seo .card .category_icon {
    background: url('img/seo.png') no-repeat center center;
    font-size: 220px;
}


.category_search .card {
    background: #2667ff;
}

.category_search .card .category_icon {
    background: url('img/search.png') no-repeat center center;
    font-size: 220px;
}

#github{position:absolute;right:0;top:0;}
#github img{width:120px;}


.pagination {
    justify-content: center;
}

.page-link {
    background: none;
    border-color: #007bff;
}

.page-link:HOVER {
    border-color: #007bff;
}


@media only screen and (max-width: 480px){
    #github img{width:80px;}

    .pagination {
        justify-content: inherit;
    }

    #filters{
        overflow-x:scroll;
        margin-left:-30px;
        margin-right:-30px;
        white-space: nowrap;
        -webkit-overflow-scrolling: touch;
        -ms-overflow-style: -ms-autohiding-scrollbar;
        height:65px;
    }

    #filters::-webkit-scrollbar{
        display:none;
    }    


    .jumbotron {
        padding: 1rem;
        padding-bottom:0;
    }
}

@media only screen and (min-width: 800px){
    .jumbotron{
        padding:2rem 2rem;
        position: fixed;
        width: 100%;
        top: 0;
        left: 0;
        z-index: 1;
    }

    body{
        padding-top:300px;
    }

    #github{
        position:fixed;z-index: 2;
    }
}